<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Suisse Black.otf</string>
		<string>Suisse Bold.otf</string>
		<string>Suisse Medium.otf</string>
		<string>Suisse Regular.otf</string>
	</array>
</dict>
</plist>
